RewriteEngine On

# Se o arquivo ou diretório físico não existir, reescreve
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para o script correspondente .php
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L,QSA]
